/* Tablet view */
@media screen and (min-width: 768px) {

    main {
        padding: 55px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
    }

    #topbar {
        justify-content: start;
    }

    .logo {
        font-family: 'Nerko One', cursive;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2em;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;

        li {
            flex: calc(100% /3) 0 1;
        }
    }

    .btn {
        flex-grow: 1;
    }

    .ads {
        display: block;
    }

    .clearfix img {
        display: inline-block;
        float: left;
        margin-right: 1rem;
    }

}

/* Screen view */
@media screen and (min-width: 992px) {

    .recipe-name {
        font-size: 2.5em;
    }

    .recipe-card {
        display: flex;
        flex-wrap: nowrap;
    }

    .recipe-video {
        flex: 70% 1 1;
    }

    .recipe-info {
        flex: 30% 1 1;
    }

    .quick-notes ul {
        display: block;
    }

}